html{
	position: relative;
}
body{
	margin-bottom: 130px;
	margin-top: 30px;
	
}
.jumbotron{
	height: 400px;
	background-image: url(../img/header.jpg	);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	overflow: hidden;
	background-color: rgba(50, 115, 220, 0.3);
}
.jumbotron img{
	width: 200px;
	box-shadow: text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0,5);
}
hr{
	width: 250px;
	border-top: 3px solid #999;
}
section{
	min-height: 600px;
}
.pKiri, .pKanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
	font-size: 20px;
}
.pKanan{
	transform: translate(50px, 0) rotate(-15deg);
}
.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}
.portfolio{
	background-color: rgba(50, 115, 220, 0.3);
}
.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}
.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0,0);
}
.contact{
	min-height: 470px;
}
.about{
	min-height: 400px;
}
.thumbnail{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}
.thumbnail:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: black;
	padding-top: 20px;
}
footer p{
	color: #aaa;s
	font-size: 1em;
}
footer p i{
	color:salmon;
}